// _fonts.scss contains the different font styles and sizes

$font-family-base: 'Montserrat', sans-serif;

$font-size-xs: 0.7rem;
$font-size-sm: 0.8rem;
$font-size-base: 0.95rem;
$font-size-lg: 1.1rem;
$font-size-xl: 1.6rem;
$font-size-xxl: 1.9rem;